<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<body>

<div class="ui top attached segment">
    <div class="ui top attached label">Usuarios demo</div>
        <ul>
            <li th:each="usuario : ${listaUsuarios}">
                <div class="ui checkbox">
                    <input type="checkbox" th:field="*{usuario}" th:value="${usuario.id}">
                    <label th:text="${usuario.nome}"></label>
                    <label th:text="${usuario.email}"></label>
                    <label th:text="${usuario.telefone}"></label>
                    <label th:text="${usuario.dtNascimento}"></label>
                </div>
            </li>
        </ul>

    </form>
</div>
</body>
</html>